* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
  color: #fff;
}

body {
  background: #141414;
  max-width: 100vw;
}

.header {
  width: 100%;
  height: 75px;
  background: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
}

.header__img {
  width: 120px;
}

.header__menu {
  position: relative;
}

.header__menu ul {
  display: none;
  list-style: none;
  position: absolute;
  text-align: right;
  text-decoration: none;
}

.header__menu:hover,
.header__menu:hover ul {
  cursor: pointer;
}

.header__menu:hover ul {
  display: block;
  width: 100px;
  right: 0;
}

.header__menu li:hover a {
  text-decoration: underline;
}

.header__menu li {
  margin-top: 12px;
}

.header__menu li a {
  text-decoration: none;
}

.header__menu--profile {
  display: flex;
  align-items: center;
}

.header__menu--profile img {
  margin-right: 12px;
  width: 35px;
}

.header__menu--profile span {
  font-size: 13px;
}

/* ESTILOS DEL HERO */

.hero {
  height: 500px;
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: 0 -60px;
  position: absolute;
  z-index: -1;
}

.hero__title {
  font-size: 3em;
  margin-bottom: 35px;
}

.hero .input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  width: 70%;
}

::placeholder {
  color: #fff;
}

/* CAROUSEL */
.category--title{
    font-size: 20px;
    display: block;
    padding: 30px 30px 0;
}

.carousel{
    min-height: 50px;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
    margin-bottom: 30px;
}

.carousel__container{
    width: 100%;
    min-height: 150px;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 20px 0;
}

.carousel__container::-webkit-scrollbar{
    height: 10px;
}

.carousel__container::-moz-scrollbar{
    height: 10px;
}


.carousel__container::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.carousel--item{
    width: 320px;
    height: 180px;
    background: salmon;
    display: inline-block;
    transition: 500ms all ease-in;
    position: relative;
}

.carousel--item:hover ~ .carousel--item{
    transform: translateX(60px);
}

.carousel--item:hover{
    transform: scale(1.2) translateX(25px);
}

.carousel--item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel--item__description{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(20,20,20,0.2) 0%, rgba(0,0,0,1));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    visibility: hidden;
}

.carousel--item__description i{
    font-size: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    color: rgb(101, 252, 0);
}

.carousel--item__description h3{
    font-size: 25px;
}

.carousel--item__description p{
    font-size: 13px;
    word-spacing: 1px;
}

.carousel--item:hover .carousel--item__description{
    visibility: visible;
}



/* Footer */
.footer {
  display: flex;
  align-items: center;
  height: 125px;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
}

.footer a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}